chart-tiler/charts.sqlite
chart-tiler/*.sqlite
chart-tiler/data/geotiff/
chart-tiler/data/mbtiles/
chart-tiler/tests/*.png
chart-tiler/tests/*.mbtiles
chart-tiler/tests/*.tif
testdata/*
!testdata/README.md
web-client/node_modules/
